
/* Use a media query to add a breakpoint at 800px: */
@media screen and (min-width: 300px) {
    body {
      background-color: aquamarine;
    }
}

  /* Use a media query to add a breakpoint at 800px: */
@media screen and (min-width: 800px) {
    body {
        background-color: rgb(53, 35, 119);
  }
}
  /* Use a media query to add a breakpoint at 800px: */
@media screen and (min-width: 1000px) {
    body {
        background-color: rgb(31, 161, 118);
    }
}